/*Cabeçalho e Destaque*/

.destaque {
    font-family: 'Goldman', cursive;
    background: url("Cabeçalho03.jpg") center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    height: 330px;
    padding-top: 20em;
}

.destaque p {
    width: 40em;
}

.destaque p:first-child {
    width: 40em;
    font-size: 1em;
    line-height: 1.1;
}

.destaque p:first-child:first-line {
    font-size: 2.3em;
    font-weight: bold;
}

.container {
    color: rgba(77, 77, 77, 0.787);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:rgba(228, 228, 228, 0.582);
    width: 940px;
    margin: 0 auto;
}

header {
    font-family: 'Goldman', cursive;
    border-top: 5px solid #ffffff;
    background: rgba(77, 77, 77, 0.781);
    height: 90px;
    width: 100%;
    position: absolute;
    
}

.navegacao {
    font-family: "Roboto Slab", serif;
    position: absolute;
    right: 3%;
    top: 2em;
    font-size: 1.2em;
    font-weight: lighter;
}
  
.navegacao ul {
    padding-left: 0;
}
  
.navegacao li {
    display: inline-block;
    text-align: center;
    width: 10em;
}
  
.navegacao a {
    color: white;
    text-decoration: none;
}
  
.navegacao a:hover {
    text-decoration: underline;
    color: #04e7fc;
             
}

.duds {
    display: block;
    padding-left: 27em;
    padding-top: 1%;
    
}

.maintitle {
    display:block;
    font-size: 4em;
    padding-top: 9%;
    color: rgba(105, 109, 109, 0.356);
    text-shadow: 4px 4px rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(0, 225, 255);
}


/*Rodapé*/

footer {
    font-family: 'Goldman', cursive;    
    background: 10%, url("Rodape02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px 0;
    height: 350px;
    font-size: 16px;
    text-align: center;
}


.copyright {
    color: white;
    margin-top: 8%;
    margin-bottom: 2%;
    
    
    
}